/**
 *
 * All styles pertaining to the image switching carousel
 * stuff
 */

$imgWidth: 1080px;
$imgHeight: 540px;
$imgScreen: #111;

$fsblur: 8px;

#fsWrapper{
	box-sizing: border-box;
	// background-color: $bodyBackground;
	margin-top: calc(#{$contentOffset} + #{$gradientBarSize}); // 0.2 is the height of the gradient
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	overflow: hidden;
	text-align: center;
	line-height: 0;
}

#fsCarousels{
	padding: 0;
	position: relative;
	max-width: $imgWidth;
	max-height: $imgHeight;
	background-color: #111;
}

#fsCarouselLeft, #fsCarouselRight, #fsCarouselMiddle{
	// border: 1px solid blue;
	padding: 0;
	margin: 0;
	opacity: 1.0;
	display: inline-block;
	max-width: $imgWidth;
	background-color: #111;

	.carousel-inner > .item{
		max-width: $imgWidth;
		transition: 1.5s;

		&.active{
			display: block;
		}
	}
}

#fsCarouselLeft, #fsCarouselRight{
	position: absolute;

	img{
		filter: blur(#{$fsblur});
	}

	.carousel-inner > .item img{
		max-width: none;
	}

	&:after{
		content: '';
		position: absolute;
		width: $imgWidth;
		height: $imgHeight;
		left:0;
		top: 0;
	}

	@media screen and (max-width: $screen-sm-min){
		display: none; // Hide, we are too small for the ribbon effect
	}
}

#fsCarouselMiddle{

}

#fsCarouselLeft{
	right: 100%;

	&:after{
		background: linear-gradient(to right, 
			#{opacify($bodyBackground, 1.0)} 50%, 
			#{transparentize($bodyBackground, 1.0)} 100%);
	}
}

#fsCarouselRight{
	left: 100%;
	
	&:after{
		background: linear-gradient(to right, 
			#{transparentize($bodyBackground, 1.0)} 0%, 
			#{opacify($bodyBackground, 1.0)} 50%);
	}
}
