
#contactWrapper{
	text-align: center;
}

.contact{
	margin-top: 40px;
	margin-bottom: 100px;
	margin-left: 15px;
	text-align: left;
	display: inline-block;
	overflow-x: hidden;

	ul{
		padding: 0;

		li{
			list-style: none;
			font-size: 12pt;
			padding: 5px 0;
			white-space: nowrap;

			i{
				font-size: 14pt;
			}

			*{
				display: inline-block;
			}

			dt{
				width: 40px;
				text-align: center;
			}
			dd{
				text-align: left;
			}
		}
	}
}