// Grab some math functions
@import "math_mixins";

$fsChangeTime: 10s;
@keyframes fsColorChange {
	@each $aperture-color in $icon-aperture-colors{
		$i: index($icon-aperture-colors, $aperture-color)-1;
		#{$i/length($icon-aperture-colors) * 100}%	{color: $aperture-color;}
	}
	100% {color: nth($icon-aperture-colors, 1)}
}

@mixin aspect-ratio($width, $height) {
	position: relative;
	&:before {
		display: block;
		content: "";
		width: 100%;
		padding-top: ($height / $width) * 100%;
	}
	> .content {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}


// font mixins

@mixin font-A($size: $default-fontA-size, $color: $default-fontA-color){
	font-family: $fontA;
	font-size: $size;
	color: $color;
}

@mixin anim-color-changing($speed: $fsChangeTime, $seed: 0){
	color: black;
	animation-delay: -1 * $seed * $speed;
	animation-name: fsColorChange;
	animation-duration: #{$speed * length($icon-aperture-colors)};
	animation-iteration-count: infinite;
}

@function stroke($stroke, $color) {
	$shadow: ();
	$from: $stroke*-1;
	@for $i from $from through $stroke {
		@for $j from $from through $stroke {
			$shadow: append($shadow, $i*1px $j*1px 0 $color, comma);
		}
	}
	@return $shadow;
}

@mixin stroke($stroke, $color) {
	text-shadow: stroke($stroke, $color);
}