/**
 *
 * All styles pertaining to the navbar
 *
 */

$fwidth: $radiusScale * 0.5em;
$fheight: $radiusScale * 2em;
$ffinalHeight: $fheight;


.alogo-wrapper{
	$wrapper-index: 1;
	z-index: $wrapper-index;
	position: relative;
	margin-left: 1.65em;
	margin-top: 0.25em;
	padding: 0;
	top: 0;
	left: 0;
	white-space: nowrap;

	width: $icon-Weidler-size;
	height: $icon-Weidler-size;
	transform: rotate(-75deg);
	transition: transform $flagAnimSpeed $flagAnimCurve;

	&:after{
		content: '';
		width: 75px;
		height: 75px;
		left:-50%;
		top:-50%;
		opacity: 0.85;
		background: white;
		position: absolute;
	}

	.alens-hood{
		$hoodWidth: $fwidth;
		$hoodScale: $radiusScale + $fheight;
		$center: ($hoodScale - $icon-Weidler-size) * -0.5; 

		position: relative;
		z-index: length($icon-aperture-colors) + 2; // buffer and extra in case
		width: $hoodScale - $hoodWidth;
		height: $hoodScale - $hoodWidth;
		opacity: 1.0;
		border-radius: 50%;
		border: $hoodWidth / 2 solid $icon-Weidler-color * 0.2;
		top: $center + $hoodWidth/2;
		left: $center + $hoodWidth/2;
		box-sizing: border-box;
	}


	.aflag{
		$fheight: $fheight * 6 / length($icon-aperture-colors) * ($flagScale + 2) / 2.5;
		$ffinalHeight: $ffinalHeight * 6 / length($icon-aperture-colors) * ($finalFlagScale + 2) / 2.5;
		background: rgba(0,0,0,1);
		opacity: 1.0;
		height: $fheight;
		width: $fwidth * $flagScale;
		border-left: 1px solid rgba(1,1,1,0.50);
		box-shadow: 0 0 0.5em * $radiusScale / 8 0 rgba(0,0,0,0.75);
		box-sizing: border-box;
		position: absolute;
		border-top-right-radius: 50%;
		border-bottom-right-radius: 50%;
		top: calc(50% - #{$fheight / 2});
		left: calc(50% - #{$fwidth * $flagScale / 2});

		transition: width $flagAnimSpeed $flagAnimCurve, 
					height $flagAnimSpeed $flagAnimCurve, 
					top $flagAnimSpeed $flagAnimCurve, 
					left $flagAnimSpeed $flagAnimCurve, 
					transform $flagAnimSpeed $flagAnimCurve,
					background $flagAnimSpeed $flagAnimCurve;
	}

	@each $aperture-color in $icon-aperture-colors{
		$i: index($icon-aperture-colors, $aperture-color);
		.aflag-#{$i}{
			z-index: #{$wrapper-index + $i};
			background: $icon-Weidler-color * 1.2;

			// transform our 'aperture flags' around a circle
			$degrees: ($i - 1) * (360 / length($icon-aperture-colors));
			$flagdiff: $fwidth * $flagScale / 2em;
			$point: parametric(0, 0, $radiusScale - $flagdiff, $degrees * 1deg);
			transform: translate(#{map-get($point, x)}em, #{map-get($point, y)}em) rotate(#{$degrees}deg);
		}
	}

}


.navbar-brand{
	padding: 0;
	margin-left: 1em !important;
	width: $icon-Weidler-size;
	height: $icon-Weidler-size;

	&:hover > .icon-Weidler_Icon, &:focus > .icon-Weidler_Icon{
		color: $icon-Weidler-hover;
		text-shadow: 0 0 8px rgba(0,0,0,1.0);
	}

	&:hover + .alogo-wrapper, &:focus + .alogo-wrapper{
		transform: rotate(-65deg);
	}

	&:hover + .alogo-wrapper .aflag, &:focus + .alogo-wrapper .aflag{
		width: $fwidth * $finalFlagScale;
		height: $ffinalHeight;

		top: calc(50% - #{$ffinalHeight / 2});
		left: calc(50% - #{$fwidth * $finalFlagScale / 2});
	}

	@each $aperture-color in $icon-aperture-colors{
		$i: index($icon-aperture-colors, $aperture-color);
		&:hover + .alogo-wrapper .aflag-#{$i}, &:focus + .alogo-wrapper .aflag-#{$i}{
			background: lighten($aperture-color, 12%);

			// transform our 'aperture flags' around a circle
			$degrees: ($i - 1) * (360 / length($icon-aperture-colors));
			$flagdiff: $fwidth * $finalFlagScale / 2em;
			$point: parametric(0, 0, $radiusScale - $flagdiff, $degrees * 1deg);
			transform: translate(#{map-get($point, x)}em, #{map-get($point, y)}em) rotate(#{$degrees}deg);
		}
	}

	.icon-Weidler_Icon {
		font-size: $icon-Weidler-size;
		color: $icon-Weidler-color;
		text-shadow: none;
		display: block;
		transition: text-shadow $icon-Weidler-transition, color $icon-Weidler-transition;
		position: relative;
		z-index: 2;

		&:before {
			content: $icon-Weidler_Icon;
		}
	}
}

.navbar{
	$size: $gradientBarSize;
	$gradient: 'linear-gradient(to right';
	@each $aperture-color in $icon-aperture-colors{
		$i: index($icon-aperture-colors, $aperture-color);
		$percent: "#{($i - 1) / length($icon-aperture-colors) * 100}%";
		$thiscolor: "#{$aperture-color} #{$percent}";
		$gradient: "#{$gradient}, #{$thiscolor}";
	}
	$gradient: "#{$gradient});";
	$navbarBackground: #fbfbfb;

	background: $navbarBackground;

	&:after{
		content: '';
		width: 100%;
		position: absolute;
		left:0;
		bottom: $size * -1;
		height: $size;
		background: #333;
		background: #{$gradient};
	}

	#aw_navbar{
		margin-left: (4.5 + $radiusScale) * 1em;

		li{
			@include font-A($color: black);
			box-sizing: border-box;
			border-top: $size solid transparent;

			transition: border-top-color $linkSpeed;

			a{
				color: darken($icon-Weidler-color, 20%);
				display: block;
				margin: 0;
				padding-top: $size * 3;
				padding-bottom: $size * 3;
				border: 2px solid $navbarBackground;
				background: none;

				transition: text-shadow $linkSpeed, color $linkSpeed;
			}

			@each $aperture-color in $icon-aperture-colors{
				$i: index($icon-aperture-colors, $aperture-color);

				&:nth-child(#{$i}){

					a.blur{
						color: transparent;
						text-shadow: 0px 0px 2px rgba(darken($aperture-color, 10%), 0.7);
					}

					&:hover, &.active{
						border-top-color: $aperture-color;

						a{
							color: darken($aperture-color, 10%);
						}
					}
				}
			}
		}
	}

	.navbar-toggle{
		border: 2px solid $icon-Weidler-color;
		margin-top: 5px;
		border-radius: 3px;
		position: relative;
		width: 46px;
		height: 36px;
		padding: 0;
		padding-top: 3px;

		&:hover{
			background-color: #eee;
		}

		&:not(.collapsed) .toggle-bar{
			.left{
				transform: skewY(-25deg);
			}
			.right{
				transform: skewY(25deg);
			}
		}

		.toggle-bar{
			width: 100%;
			display: block;
			height: 8px;
			vertical-align: top;
			font-size: 0;
			backface-visibility: hidden;
		}

		.toggle-bar > span{
			width: 10px;
			height: 4px;
			display: inline-block;
			padding: 0;
			backface-visibility: hidden;

			transition: transform 0.5s;

			&.left{
				border-top-left-radius: 1px;
				border-bottom-left-radius: 1px;
			}

			&.right{
				border-top-right-radius: 1px;
				border-bottom-right-radius: 1px;
			}
		}

		@for $i from 1 through 4{
			.toggle-bar:nth-child(#{$i}) > span{
				$color: nth($icon-aperture-colors, $i);
				background-color: $color;
			}
		}
	}
}
