#photosWrapper{
	background-color: #fdfdfd;
}

.photo-col{
	// border: 1px solid red;
	float: left;

	box-sizing: border-box;
	display: inline;
	min-height: 300px;
	position: relative;
	margin: 0;
	padding: 0;
	vertical-align: top;
	float: left;

	div.imgwrapper{
		padding: 8px;
		text-align: center;
		width: 100%;
		position: relative;
	}

	div.imgoverlay{
		border-top: 1px solid #333;
		box-sizing: border-box;
		height: 40px;
		width: calc(100% - 16px);
		position: absolute;
		text-align: right;
		bottom: 6px;
		font-size: 16pt;
		background-color: rgba(255, 255, 255, 0.7);

		@include stroke(1, white);

		a{
			margin-right: 15px;
			vertical-align: middle;
		}
	}

	img{
		max-width: 100%;
		max-height: 100%;
		box-sizing: border-box;
		border: 1px solid #999;
		cursor: pointer;
	}
}
