// Font information
$icomoon-font-path: "../fonts/myfonts" !default;
$icon-Weidler_Icon_Border: "\e900";
$icon-Weidler_Icon: "\e901";

// Branding info
$icon-Weidler-color: #999 !default;
$icon-Weidler-hover: #fefefe !default;
$icon-Weidler-transition: 0.5s;
$icon-Weidler-size: 2.5em;
$icon-aperture-colors: (blue, green, red, cyan, yellow, purple);